* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  margin: 0 5em 0 5em; }

.header {
  margin: 5em 5em 0 12em; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'IBM Plex Sans', serif;
  padding: 0.2em 0 2em 0;
  font-size: 20px;
  text-transform: uppercase; }
  .header__menu li {
    display: inline;
    padding: 0.2em 0 0.2em 0;
    font-size: 20px;
    text-transform: uppercase;
    list-style: none; }
    .header__menu li a {
      text-decoration: none;
      color: #2b2b2b;
      padding: 0.2em 1.5em 0.2em 1.5em; }
    .header__menu li a:hover {
      border: 1px solid black;
      border-radius: 50px; }
  .header__menu .header__menu-last {
    border: 1px solid grey;
    border-radius: 50px; }

.header__logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start; }

.header__logo-title {
  font-size: 35px;
  font-weight: bold;
  color: #2b2b2b; }

.header__logo-description {
  font-size: 10px;
  font-weight: bold;
  color: #2b2b2b;
  text-transform: uppercase;
  letter-spacing: .3em; }

.header__logo-image {
  width: 5em;
  height: 5em;
  border: 1px solid black;
  border-radius: 50%;
  background: #2b2b2b; }

.main__about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 80px; }

.main__about {
  width: 70%;
  border-left: 5px solid #2b2b2b;
  padding: 30px 0 30px 100px; }

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  font-size: 90px;
  text-transform: uppercase;
  font-weight: bold;
  color: #2b2b2b;
  padding-bottom: 30px; }

.main__description {
  width: 80%;
  font-size: 20px; }

.main__copyright {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 12px;
  font-weight: bold;
  margin-right: 20px; }

.main__social {
  margin-left: 7em; }
  .main__social li {
    display: inline;
    list-style: none;
    padding-right: 25px;
    font-size: 25px; }

.main__scrollbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold; }
  .main__scrollbutton i {
    font-size: 30px;
    margin-top: -10px; }

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #f3f3f3), color-stop(50%, #ffffff));
  background: linear-gradient(to top, #f3f3f3 50%, #ffffff 50%); }

.table__img-first {
  margin-top: 4em; }

.table__about-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 20%;
  background-color: #2b2b2b;
  z-index: 1;
  padding: 40px;
  margin-left: 7em; }
  .table__about-table a {
    text-transform: uppercase;
    color: #eceaea;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 15px; }

.table__table-title {
  width: 50%;
  color: white;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize; }

.table__table-description {
  color: #6f6e6e;
  padding-bottom: 10px; }

.product {
  background: 100% 50%/50% 70% no-repeat url("/public/img/bg-product.jpg"), no-repeat -webkit-gradient(linear, left bottom, left top, color-stop(15%, #ffffff), color-stop(15%, #ececec), color-stop(90%, #f4f4f4));
  background: 100% 50%/50% 70% no-repeat url("/public/img/bg-product.jpg"), no-repeat linear-gradient(to top, #ffffff 15%, #ececec 15%, #f4f4f4 90%);
  padding-top: 100px; }

.product__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px; }

.product__about {
  margin-left: 12em;
  width: 28%; }
  .product__about a {
    color: #2b2b2b;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px; }

.product__title p {
  width: 70%;
  color: #2b2b2b;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 15px; }

.product__description {
  padding-bottom: 10px;
  color: #6f6e6e; }
  .product__description p {
    padding-bottom: 10px;
    color: #2b2b2b; }

.product__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5em;
  margin-top: 100px; }

.product__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px; }

.product__shop-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 18px;
  color: #6f6e6e; }

.product__shop-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .product__shop-link a {
    border: 2px solid #6f6e6e;
    border-radius: 50px;
    padding: 10px 60px 10px 60px;
    font-size: 30px;
    text-decoration: none;
    color: #6f6e6e;
    margin-left: 30px;
    vertical-align: middle; }
  .product__shop-link i {
    padding-left: 10px;
    font-size: 20px; }

.footer {
  margin: 7em 5em 5em 5em; }

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer__menu a {
    text-decoration: none;
    color: #6f6e6e; }
  .footer__menu ul {
    list-style: none;
    padding-right: 10px;
    font-size: 14px; }
    .footer__menu ul li {
      padding-bottom: 3px; }
    .footer__menu ul li:first-child {
      font-weight: bold;
      padding-bottom: 25px;
      font-size: 15px;
      color: #6f6e6e; }

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #6f6e6e; }

/*# sourceMappingURL=style.css.map */
